/* Variables */
:root {
	--primary: #600076;
	--light: #f7d7f4;
	--grey: #888;
	--dark: #0b0b0b;
	--danger: #e93e3b;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: "fira sans", sans-serif;
  }
 /* styling for checkbox , radio buttons and buttons */
  input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
/* styling for list page */
main{
	min-height:100vh;
	display: flex;
	justify-content: center;
	padding: 1rem 1rem;
}
.main-page{
	width:100%;
	max-width: 768px;
	margin:auto;
}
.container{
	display: none;
   }

body {
	background: var(--light);
	color: var(--dark);
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: var(--dark);
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

h4 {
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.intro .tile{
    display:flex;
}

.intro .title input {
    margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.intro .title,
.intro .title input {
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
}
/* text fields to input list items */
.new-todo input[type=text]{
    display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--primary);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

input[type="checkbox"] {
	display: none;
}

.new-todo label {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 1.5rem;
}

.radio-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--primary);
	box-shadow: var(--dark);
}

.radio-button::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--primary);
	box-shadow: var(--primary);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

input:checked ~ .radio-button::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}
/* submit todo item */
.new-todo  input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--dark);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.new-todo input[type="submit"]:hover {
	opacity: 0.75;
}

.todo-list .my-list{
    margin: 1rem 0;  
}

.todo-list .todo-item{
    display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .list-content{
    flex: 1 1 0%;
}

.todo-item .list-content input{
    color: var(--dark);
	font-size: 1.125rem;
}
 /* edit and delete buttons */
.todo-item .actions{
 display: flex;
 align-items: center;
}

.todo-item .actions button{
    display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
   }
   .todo-item .actions button:hover {
	opacity: 0.75;
}

.todo-item .actions .edit {
	margin-right: 0.5rem;
	background-color: var(--primary);
}

.todo-item .actions .delete {
	background-color: var(--danger);
}

.todo-item.done .list-content input {
	text-decoration: line-through;
	color: var(--grey);
}
#username-display{
	display: inline-flex;
}

/* landing page to add username */


.home-container{
	width: 500px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(234, 174, 236);
    text-align: center;
	border-radius: 25px;
}
.home-container input[type="text"]{
	background: white;
    display: block;
    margin: 1.25rem auto;
    text-align: center;
    border: 0.2rem solid var(--primary);
    padding: 1.25rem 1rem;
    width: 300px;
    border-radius: 25px;
}

.home-container input[type="submit"]{
	background: var(--primary);
	color: white;
    display: block;
    margin: 1.25rem auto;
    text-align: center;
    border: 0.2rem solid var(--primary);
    padding: 1rem 1rem;
    width: 300px;
    border-radius: 25px;
}

.home-container h1{
	text-align: center;
	color: white;
    font-family: 'fira sans', sans-serif;
    background: var(--primary);
    border-radius: 30px;
    padding: 15px;
}

/* media queries */

@media (max-width:768px){
	.home-container h1{
		text-align: center;
		font-size: 1.25rem;
		padding: 10px;
		
	}
	.home-container input[type="submit"]{
		width: 200px;
	}
    .home-container input[type="text"]{
		width: 200px;
	}
	.home-container{
		width: 300px;
		
	}
}

@media (max-width:600px){
	.todo-list .todo-item {
		display: block;
		align-items: center;
		background-color: #FFF;
		padding: 0.65rem;
		border-radius: 0.5rem;
		box-shadow: var(--shadow);
		margin-bottom: 1rem;
	}

}
/* go back to landing page */

.back-home{
	background: var(--primary);
	color: white;
    display: block;
    margin: 1.25rem auto;
    text-align: center;
    border: 0.2rem solid var(--primary);
    padding: 1rem 1rem;
    width: 300px;
    border-radius: 25px;
}